/* *{ */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Inter', sans-serif; */
/* } */

/* header section */

.container-one{
        margin: 90px;
        width: 1320px;
        height: 600px;
        font-family: 'Merriweather', serif;
        background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner\ Image.png');
        border-radius: 16px;
        background-repeat: no-repeat;
}
.con-one-head{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    top: 180px;
    padding-bottom: 15px;
}
.con-one-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 140px 300px;
    line-height: 95px;
    /* position: relative; */
    /* top: 250px; */
}

/* main section one */

.section-one{
    text-align: center;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
}
.offer-persent{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
}

.offer-des{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.offer-title{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 30px;
}
/* .sec-one-img{
    display: block;
    margin: auto;
} */


/* section two */

.section-two-container{
    display: flex;
    margin: 90px;
    width: 1320px;
    height: 600px;
    background: rgba(0,0,0,0.7)url('../images/Vectorrr.png');
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    fill: black;
    background-repeat: no-repeat;
}

.section-two-con{
    padding: 100px 50px 100px 120px;
}
.sec-two-title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.sec-two-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sec-two-img{
    padding: 100px 120px 100px 70px;
    box-shadow:rgb(94, 88, 88);
    position: relative;
    
}

.sec-two-btn{
    color: bisque;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px;
    background-color: #F00;
    border-radius: 100%;

}

/* section three */
.sec-three-container{
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    margin: 90px;
    width: 1320px;
    height: 482px;
    line-height: 0px;
    background-color: rgba(255, 0, 0, 0.10)
}

.section-three-con{
    padding-top: 100px;
}

.sec-three-title{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.sec-span{
    color: #F00;
}
.sec-three-btn{
    position: relative;
    left: 610px;
    top: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    color: #FFF;
    background-color: #F00;

}

/* section four contaner */

.section-four-container{
    margin: 90px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

}

.sec-a{
    /* margin: 0px; */
    padding-top: 30px;
    line-height: 5px;
    padding-right: 150px;
}

.title-a{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.title-b{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.sec-a-para{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.sec-b{
    padding-top: 55px;
    padding-right: 300px;
    /* padding-bottom: 50px; */
    /* border: 5px solid; */
    /* border-radius: 200px 200px ; */
}
.circle{
    border: 10px solid red;
    border-radius: 100%;
    /* gap: 5px; */
    /* border-top-right-radius: 100px; */
    /* border-bottom-left-radius: 100px; */
}
.sec-four-img-a{
    padding: 25px;
    width: 255px;
    height: 255px;
}


.sec-c{
    line-height: 10px;
    text-align: right;
    font-family: 'Inter', sans-serif;
}

.sec-c-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.sec-c-para{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.sec-four-img-b{
    width: 140px;
    height: 140px;
}

/* secrtion five container */

.section-five-container{
    margin: 90px;
}

.section-five-step-one{
    line-height: 10px;
}
.sec-five-offer{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.sec-five-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}
.sec-five-para{
    padding-bottom: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.section-five-step-two{
    padding-bottom: 13px;
}
.img-pad{
    padding-left: 11px;
    padding-right: 11.5px;
}

/* section six container */

.section-six-container{
    margin: 90px;
    text-align: center;
    line-height: 40px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 15px;
    height: 500px;
    width: 1304px;
    padding-top: 80px;
}
.sec-six-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}
.sec-six-para{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 150px;
}
.container-form{color: #F00;}
.sec-six-btn-o{color: #F00;}
.sec-six-btn-t{color: #F00;}


/* footer section */

.foot-container{

    background-color:grey;
    height: 600px;
    width: 1482px;
}
.sec-one{
    display: flex;
    justify-content: space-between;
    border: 10px solid red;
}

.address{
    padding-top: 100px;
    padding-left: 90px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.foot-para{
    color: #FFF;
    text-align: right;
    padding-top: 80px;
    padding-right: 100px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-images{
    text-align: center;padding-top: 50px;
}
.f-i-r-i{
    padding: 0 20px 0 20px;
}
.f-i-r-ii{
    padding-right: 20px;
}

